
body {
  font-family: copperplate, Copperplate Gothic Light,fantasy;
  margin: 0;
  padding: 0;
  background:  #fafae5;
  color: white;
}

body.film-critic {
  background:  black;
  color: black;
}

.header {
  background: black;
  text-align: center;
  padding: 10px 20px; /* top/bottom 10px, left/right 20px */
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  color: white;
}
/* Photo container */
.photo-container {
  text-align: center;
  margin-top: 5px;
  
}

.profile-photo {
  width: 400px;
  height: auto;
  filter: grayscale(100%) !important;
  
}

/* Main profile section */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Biography section */
.bio {
  max-width: 700px;
  text-align: center;
  line-height: 1.7;
  font-size: 16px;
  color: white;
  font-family: "Times New Roman", Times, serif;
  
}

.bio p {
  margin-bottom: 20px;
}

/* Links inside the bio (Videography and Contact) */
.extra-link a, 
.contact-link a {
  font-style: italic;
  color: #1a73e8;
  font-size: 14px;
  text-decoration: none;
}
